.presentation-entreprise{
    border-top: solid $color-primary;
    text-align: center;
    & h2{
        font-size: 3em;
        font-weight: 500;
        color: $color-primary;
    }
    &-texte{
        display: flex;
    }
    & img{
        width: 200px;
        height: 200px;
        @media screen and (max-width: 900px){
            display: none;
        }
    }
    & p{
        margin-left: 50px;
        margin-right: 50px;
    }
}