.page-footer{
    background-color: $color-primary;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    @media screen and (max-width: 900px){
        flex-direction: column;
        align-items: center;
    }
    & i{
        margin: 5px;
    };
    & p {
        margin: 5px;
    };
    & a{
        text-decoration: none;
        color: black;
    };
    & .colonne-footer{
        display: flex;
        flex-direction: column;
        width: 15%;
        text-align: center;
        @media screen and (max-width: 900px){
            width: 85%;
        }
    };
};